* {
  box-sizing: border-box;
}
body {
  background: #DDDDDD;
  /* min-width: 590px; */
}

/* .app {
  display: grid;
  place-items: center;
  height: 100vh;
} */

.appBody {
  display: flex;
  /* background: #343434; */
  /* margin-top: -10vh; */
  /* height: 100vh; */
  /* width: 85vw; */
  /* height: 100vh; */
  /* min-height:  */
  max-height: 100vh;
  /* height:  */
  min-width: 590px;
}
