* {
  box-sizing: border-box;
}
body {
  background: #DDDDDD;
  /* min-width: 590px; */
}

/* .app {
  display: grid;
  place-items: center;
  height: 100vh;
} */

.appBody {
  display: flex;
  /* background: #343434; */
  /* margin-top: -10vh; */
  /* height: 100vh; */
  /* width: 85vw; */
  /* height: 100vh; */
  /* min-height:  */
  max-height: 100vh;
  /* height:  */
  min-width: 590px;
}


.start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.start_content img {
  width: 150px;
}

.start_link {
  text-decoration: none;
  color: white;
  background-color: rgb(69, 69, 69);
  border:none;
  border-radius: 2px;
  height: 40px;
  font-size: 25px;
  font-family: sans-serif;
  margin: 10px 0px;
  outline: none;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.start_title {
  font-weight: 900;
  font-family: sans-serif;
  font-size: 30px;
  margin: 30px 0;
}