.chatsection {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  color: Black;
  flex: 0.7;
  /* background-color: #EEEEEE; */
  background: rgb(248, 248, 248);
  /* min-width: 42vw; */
  /* min-width: 660px; */
  min-width: 360px;
  /* height: inherit; */
}

.chatsectionHeader {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-left: lightgrey solid 0.5px;
  height: 70px;
  background-color: rgb(240, 242, 245);
  align-items: center;
}

.chatsectionHeaderLeft {
  display: flex;
}

.chatsectionHeaderInfo *{
  padding-left: 10px;
}

.chatsectionContact {
  color: Black;
}

.chatsectionLastSeen {
  color: grey;
}


.chatsectionHeaderRight {
  color: black;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.chatsectionFooter {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
  background-color: rgb(240, 242, 245);
}

.sendButton {
  /* width: 20px; */
}

.chatsectionAttachicon {
  /* width: 20px; */
}

.chatMessadeDiv {
  width: 85%;
  margin: 0px 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  /* height: 40px; */
  padding: 10px 15px;
  word-wrap: break-word;
  background-color: white;
  max-height: 100px;
  overflow-y: auto;
  /* white-space: pre-wrap; */
}

.chatsectionAttachicon {
  color: grey;
}
.sendButton {
  color: white;
  background-color: rgb(1,167,121);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  padding-left: 2px;
}

/* .sendButton {
  color: white;
  background-color: darkgreen;
  border-radius: 30px;
  padding: 5px;
  width:35px;
  height: 35px;
  display: grid;
  place-items: center;
} */


.chat {
  height: 100%;
  overflow-y: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  /* IMPORTANT */
  /* justify-content: flex-end; */



  background: rgb(239, 236, 226);
}

.messageCardContainer_sender {
  display: flex;
  justify-content: flex-start;
}

.messageCardContainer_reciever {
  display: flex;
  justify-content: flex-end;
}

.messageCard {
  background-color: white;
  width: fit-content;
  max-width: 40%;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
}



.messageSenderName {
  font-weight: bold;
  font-size: 0.8em;
}

.senderType_reciever {
  color: Green;
}

.senderType_sender {
  color: Blue;
}

.messageContent {
  /* max-width: 40%; */
  margin: 0px;
  white-space: pre-wrap;
}

.messageTimeStamp {
  font-size: 10px;
  color: grey;
  text-align: right;
  padding-right: 3px;
  /* padding-top: 5px; */
}
