
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  /* min-width: 28vw; */
  min-width: 230px;
  background-color: white;
  height: 100vh;
  /* overflow: scroll; */
  /* max-height: 100vh; */
  /* background: rgba(20,20,20,0.5); */
}

.sidebarHeader  {
  display: flex;
  /* border-right: 1px solid grey; */
  padding: 15px 20px 15px 20px;
  justify-content: space-between;
  background-color: rgb(240, 242, 245);
  /* min-height: 40px; */
  /* max-height: 40px; */
  /* position: fixed; */
}

.sidebarHeaderRight {
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 10vw; */
  /* background-color: red; */
}

.sidebarSearchbox {
  color: grey;
  display: flex;
  align-items: center;
  background-color: rgb(240, 242, 245);
  /* position: fixed; */
  /*
  DFDFDF or
  rgb(240, 242, 245)*/
  border-radius: 5px;
  /* height: 30px; */
  margin: 15px 10px;
  margin-bottom: 5px;
  padding: 7px 10px;
  min-height: 25px;
}

.sidebarSearchbox input {
  border: none;
  outline: none;
  background-color: inherit;
  width: 100%;
}

.sidebarNonscrollable {
  /* height: 120px; */
  border-bottom: lightgrey solid 0.5px;
  padding-bottom: 5px;
}

.sidebarChatlist {
  /* overflow: scroll; */
  /* max-height: calc(100vh-118.5p) */
  /* max-height: 600px; */
  /* max-height: inherit; */
  height: 100%;
  overflow-y: auto;
  /* max-height: 100px; */

}


.sidebarChatcard {
  display: flex;
  justify-content: flex-start;
  padding: 0px 20px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebarChatcardInfo {
  /* border-bottom: 1px solid lightgrey; */
  margin: 5px 20px 5px 20px;
  /* padding-bottom: 10px; */
  /* flex: 0.7; */
  width: 73%;
}

.sidebarChatcardInfoTitle {
  /* font-weight: bold; */
  /* padding: 0px 10px; */
  font-size: 18px;
}
.sidebarChatlistDivider {
  background: lightgrey;
  border: none;
  min-height: 0.5px;
  width: 100%;
}

.sidebarChatcardInfoMessage {
  padding: 0px;
  font-size: 15px;
  color: grey;
}

.sidebarChatdivider hr {
  /* width: 60%; */
  color: lightgrey;
  /* size: 1px; */
  background-color: lightgrey;
  height: 0.5px;
  /* border-style: solid; */
  border: none;
  margin: 0px;
  margin-left: 81px;
  margin-right: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}
